@import url('https://fonts.googleapis.com/css2?family=Tienne:wght@400;700;900&display=swap');

:root, [data-bs-theme=light] {
  --bs-success-bg-subtle: #d1e7dd;
  --bs-success-border-subtle: #a3cfbb;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-danger-border-subtle: #f1aeb5;
}

html {
  font-size: 300%;
}
body { 
  background-image: url(newspaper-bg.jpeg);
  background-repeat: round;
  background-attachment: fixed;
  background-color: white;
  font-family: "Tienne", "Times New Roman", "Georgia", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  cursor: zoom-in;
}

.bg-success-subtle { background-color: var(--bs-success-bg-subtle); }
.bg-danger-subtle { background-color: var(--bs-danger-bg-subtle); }

.container-xl {
  margin: 0 auto;
  max-width: 20rem;
  padding: 2rem 0;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@keyframes reveal {
  from {
    opacity: 0.1;
    /* clip-path: inset(45% 20% 45% 20%); */
  }
  to {
    opacity: 1;
    /* clip-path: inset(0% 0% 0% 0%); */
  }
}

section { }
.story { margin: 2rem auto; }
#story1 { }

#story2, #story3, #story4 {
  /* Create View Timeline */
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;

  /* Attach animation, linked to the  View Timeline */
  animation: linear reveal both;
  animation-timeline: --revealing-image;

  /* Tweak range when effect should run*/
  animation-range: entry 20% cover 40%;
}

span.war {
  font-weight: 700;
  
}